
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.underlined_text {
    text-decoration: underline;
}

.center_alligned_text {
    text-align: center;
}

.vertical_middle {
    vertical-align: middle;
}

.vertical_top {
    vertical-align: top;
}

.red_text {
    color: red;
}

.inline_block {
    display: inline-block;
}

.logo_n_title {
    text-align: center;
}

.logo_n_title h1 {
    display: inline-block;
    text-decoration: underline;
}

.logo_n_title img {
    width: 90px;
    display: inline-block;
    vertical-align: middle;
}

.contact_info {
    text-align: center;
}

.contact_info li{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
}

.phys_address {
    text-align: center;
}

.phys_address li{
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5%;
    margin-bottom: 0;
    margin-left: 1%;
    margin-right: 1%;
}

.phys_address li strong {
    text-decoration: underline;
}
